# Postgres
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
PROD_DB=True
# Добавляем переменные для Django-проекта:
DB_HOST=db
DB_PORT=5432
# Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=secure_password
DJANGO_SUPERUSER_EMAIL=admin@example.com
# Secret
SECRET_KEY='secret-key'
# Debug mode
DEBUG=False
# Hosts
ALLOWED_HOSTS=127.0.0.1,localhost,xxx.xxx.xxx.xxx,your.domain
# Media
MEDIA_ROOT=/media
# CSRF
APP_DOMAIN=https://your.domain
